---
import Header from './Header.astro';
import Footer from './Footer.astro';
import '../../styles/global.scss';
import Spotlight from '../effect/Spotlight.astro';
import Miscellaneous from '../effect/Miscellaneous.astro';
---

<html>
  <head></head>
  <body>
    <Miscellaneous />
    <Spotlight />
    <div class="page-container">
      <Header />
      <main>
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>

<style lang="scss">
  .page-container {
    width: 1000px;
    height: max-content;
    margin: 0 auto;
    position: relative;
    overflow-x: hidden;
    overflow-y: overlay;
    padding: 24px 0;
    box-sizing: border-box;
    z-index: 10;
  }
</style>
