---
import { ClientRouter } from 'astro:transitions';
import Spotlight from '../effect/Spotlight.astro';
import Miscellaneous from '../effect/Miscellaneous.astro';
import Header from './Header.astro';
import Footer from './Footer.astro';
import { useConstsWithRuntime } from '../../consts';
import '../../styles/global.scss';

const { AVATAR_URL } = useConstsWithRuntime(Astro.locals.runtime);

// General cache settings
Astro.response.headers.set('Cache-Control', 'public, max-age=3600');
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <slot name="meta" />
    <link rel="icon" type="image/png" href={AVATAR_URL} />
    <link rel="apple-touch-icon" href={AVATAR_URL} />
    <link rel="shortcut icon" href={AVATAR_URL} />
    <ClientRouter />
  </head>
  <body>
    <div class="page-container">
      <Header transition:persist />
      <main>
        <slot />
      </main>
      <Footer />
    </div>
    <slot name="body-end" />
    <Miscellaneous />
    <Spotlight />
  </body>
</html>

<style lang="scss">
  .page-container {
    width: 100%;
    max-width: 1000px;
    height: max-content;
    margin: 0 auto;
    position: relative;
    overflow-x: hidden;
    overflow-y: overlay;
    padding: 1.5rem 0;
    box-sizing: border-box;
    z-index: 10;
  }

  @media screen and (max-width: 1000px) {
    .page-container {
      padding: 1.5rem 1rem;
      box-sizing: border-box;
    }
  }
</style>
